function Sys.init 0
call Memory.init None
call Math.init None
call Screen.init None
call Output.init None
call Keyboard.init None
call Main.main None
call Sys.halt None
push constant 0
return
function Sys.halt 0
label whileL0
push constant 1
push constant 2
lt
not
if-goto whileL1
goto whileL0
label whileL1
push constant 0
return
function Sys.wait 2
push constant 0
pop local 0
push constant 5000
pop local 1
label whileL2
push local 0
push local 1
lt
not
if-goto whileL3
push local 0
push constant 1
add
pop local 0
goto whileL2
label whileL3
push constant 0
return
function Sys.error 0
push constant 3
call String.new 1
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString None
push argument 0
call Output.printInt None
call Sys.halt 0
pop temp 0
push constant 0
return
